{% extends 'base.html.twig' %}

{% block title %}RequestedData{% endblock %}

{% block body %}
    <h1>RequestedData</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ requested_datum.id }}</td>
            </tr>
            <tr>
                <th>FromWho</th>
                <td>{{ requested_datum.fromWho }}</td>
            </tr>
            <tr>
                <th>OfWho</th>
                <td>{{ requested_datum.ofWho }}</td>
            </tr>
            <tr>
                <th>Approval</th>
                <td>{{ requested_datum.approval }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('requested_data_index') }}">back to list</a>

    <a href="{{ path('requested_data_edit', {'id': requested_datum.id}) }}">edit</a>

    {{ include('requested_data/_delete_form.html.twig') }}
{% endblock %}
