{% extends 'base.html.twig' %}

{% block title %}Typereclamation index{% endblock %}

{% block body %}
    <h1>Typereclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Typereclamation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typereclamation in typereclamations %}
            <tr>
                <td>{{ typereclamation.id }}</td>
                <td>{{ typereclamation.typereclamation }}</td>
                <td>
                    <a href="{{ path('typereclamation_show', {'id': typereclamation.id}) }}">show</a>
                    <a href="{{ path('typereclamation_edit', {'id': typereclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('typereclamation_new') }}">Create new</a>
{% endblock %}
