{% extends 'base.html.twig' %}

{% block title %}Passeport index{% endblock %}

{% block body %}
    <h1>Passeport index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdUser</th>
                <th>UrlImage</th>
                <th>Etat</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passeport in passeports %}
            <tr>
                <td>{{ passeport.id }}</td>
                <td>{{ passeport.idUser }}</td>
                <td>{{ passeport.urlImage }}</td>
                <td>{{ passeport.etat }}</td>
                <td>{{ passeport.date ? passeport.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('passeport_show', {'id': passeport.id}) }}">show</a>
                    <a href="{{ path('passeport_edit', {'id': passeport.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('passeport_new') }}">Create new</a>
{% endblock %}
